header {
    background-color: #004d40; /* Color de fondo */
    padding: 50px 0; /* Espaciado */
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #00695c;
    border-radius: 5px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: linear-gradient(135deg, #004d40);
    box-shadow: 0 4px 8px rgba(2, 1, 0, 0);
}

img{
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(2, 1, 0, 0);
}
@media screen and(max-width:640px) {
    body{
        background-color: aquamarine;
    }
}
